@{
    Layout = "~/Views/Shared/Layout_without_Footer.cshtml";
}
@model ProfileDTO


<head>

<link href="~/css/homepage/userinfo.css" rel="stylesheet" />
 </head>


<section>
      <div class="profileSection">


        <div class="sub-container">


          <div class="profile-pic-div">
            <img src="~/Images/avatar.png" alt="Avater" id="ProfileImage" />
            <input type="file" id="file" />
            <label for="file" id="uploadBtn">Choose Photo</label>
          </div>

          <div class="details">
              <form asp-action="EditProfile">


            <div class="Info">
              <div class="Titleprofessional">Basic Info</div>
              <label for="FirstName">Name</label>
              <input asp-for="Name" type="text"  id="Name"
                maxlength="25"
                required />
            </div>
            <div class="Info">
              <label for="Address">Address</label>
              <input asp-for="Address" type="text"  id="Address"
                maxlength="25" required />
            </div>
            <div class="Info">
              <label for="Contact">Contact Info</label>
              <input asp-for="PhoneNumber" type="tel"  id="Contact"
                maxlength="35" required />
            </div>
            <div class="Info">
              <label for="EmailAddress">Email address</label>
              <input asp-for="Email"type="email"  id="Email"
                maxlength="35" required />
            </div>


             <div class='flex justify-center py-4'>
                      <button  type="submit" class="bg-green-500 hover:bg-sky-700 w-full h-10 mb-2    font-Inter text-white border-sky-500">
                    Edit Profile
                </button>

            </div>

            </form>
          </div>



        </div>




      </div>
           

             






    </section>