

@model LocationDTO
<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<@*form asp-action="Index">


    <input asp-for="State" type="text" placeholder="state" />
    <br />
    <br />

    <br />

    <input asp-for="City" type="text" placeholder="city" />
    <br />
    <br />

    <button type="submit">submit</button>

</form>
<div id="myuimain"></div>

@section Scripts {

      <script src="~/dist/myui-bundle.js"></script>

}*@