@{
    Layout = "~/Views/Shared/Layout_without_Footer.cshtml";
}
@model ProfileDTO


<head>

<link href="~/css/homepage/userinfo.css" rel="stylesheet" />

 </head>


<section>
      <div class="profileSection">


        <div class="sub-container">


          <div class="profile-pic-div">
            <img src="~/Images/avatar.png" alt="Avater" id="ProfileImage" />
            <input type="file" id="file" />
            <label for="file" id="uploadBtn">Choose Photo</label>
          </div>

          <div class="details">
             @* <form asp-action="EditProfile" >*@
             <div class="details1">
                  <div class="Info">
                   <div class="Titleprofessional">Basic Info</div>
                 <label for="FirstName">Name</label>
                  <input asp-for="Name" type="text"  id="Name"
                maxlength="25"
                readonly />
            </div>
            <div class="Info">
              <label for="Address">Address</label>
              <input asp-for="Address" type="text"  id="Address"
                maxlength="25" readonly />
            </div>
            <div class="Info">
              <label for="Contact">Contact Info</label>
              <input asp-for="PhoneNumber" type="tel"  id="Contact"
                maxlength="35" readonly />
            </div>
            <div class="Info">
              <label for="EmailAddress">Email address</label>
              <input asp-for="Email"type="email"  id="Email"
                maxlength="35" readonly />
            </div>
            @* <div class='flex justify-center py-4'>
                <a asp-action="EditProfile" asp-controller="Home"   type="submit" class="bg-sky-500 hover:bg-sky-700 w-40 h-10    font-Inter text-white border-sky-500">
                    Edit Profile
                </a>

            </div>
*@

             

          
            </div>
           


            @*</form>*@
            <a asp-action="EditProfile" asp-controller="Home">
            <div class='flex justify-center py-4'>
                <button   class="bg-sky-500 hover:bg-sky-700 w-full h-10 mb-2    font-Inter text-white border-sky-500">
                    Edit Profile
                </button>

            </div>
            </a>
            <a asp-action="signout" asp-controller="Register">
            <div class='flex justify-center py-4'>
                <button   class="bg-sky-500 hover:bg-sky-700 w-full h-10 mb-2    font-Inter text-white border-sky-500">
                    Log Out
                </button>

            </div>
            </a>
            <a asp-action="DeleteUser" asp-controller="Home">
            <div class='flex justify-center py-4'>
                <button   class="bg-sky-500 hover:bg-sky-700 w-full h-10 mb-2    font-Inter text-white border-sky-500">
                    Delete User
                </button>

            </div>
            </a>    




           @*  <div class='flex justify-center py-4'>
                <a asp-action="signout"  asp-controller="Register"  class="bg-sky-500 hover:bg-sky-700 w-40 h-10    font-Inter text-white border-sky-500">
                    Sign Out
                </a>

            </div>*@


            @* <div class='flex justify-center py-4'>
                <a asp-action="DeleteUser" class="bg-sky-500 rounded hover:bg-sky-700 w-40 h-10    font-Inter text-white border-sky-500">
                    Delete User
                </a>

            </div>
*@


           
          </div>

          



        </div>


       




      </div>
      
    
    
           

             






    </section>